<button (click)="isOpen = !isOpen">Create new job</button>

<form [formGroup]="createJobForm" (ngSubmit)="createJob()" *ngIf="isOpen">
  <select
    formControlName="occupation"
    name="occupation"
    id="occupation"
    (change)="setOccupationIfExist($event.target.value)"
    required
  >
    <option *ngFor="let occupation of occupationOptions" [value]="occupation">{{
      occupation
    }}</option>
  </select>
  <input type="range" min="0" max="2000000" formControlName="salary" required />
  <textarea formControlName="description" required></textarea>
  <app-select-location
    (valueChange)="setLocationField($event)"
  ></app-select-location>
  <input formControlName="abilities" />
  <input formControlName="languages" />
  <button type="submit">
    Save
  </button>
</form>
