<button (click)="isOpen = !isOpen">Create new job</button>

<form [formGroup]="createJobForm" (ngSubmit)="createJob()" *ngIf="isOpen">
  <app-select-occupation
    (valueChange)="setFormField('occupation', $event)"
  ></app-select-occupation>
  <input type="range" min="0" max="2000000" formControlName="salary" required />
  <textarea formControlName="description" required></textarea>
  <app-select-location
    (valueChange)="setLocationField($event)"
  ></app-select-location>
  <input formControlName="abilities" />
  <input formControlName="languages" />
  <button type="submit">
    Save
  </button>
</form>
